{
  "exclude": ["**/*.d.ts"],
  "extension": [".ts", ".tsx"],
  "require": [
    "ts-node/register",
    "tsconfig-paths/register",
    "source-map-support/register"
  ],
  "reporter": ["lcov", "text-summary", "html"],
  "sourceMap": "true",
  "instrument": "true",
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100
}
