language: node_js

node_js:
- node
- 6
- 4

before_install:
- npm install -g codeclimate-test-reporter npx


install:
- npm install

before_script:
- npm run lint

script:
- npm test && npm run build

sudo: false

cache:
  directories:
  - node_modules

git:
  depth: 1

branches:
  only:
  - master
  - develop

after_success:
- codeclimate-test-reporter < coverage/lcov.info
- bash < (curl -s https://codecov.io/bash)
